node_modules/

# macOS
.DS_Store

# IDE/editor
.idea/
*.iml

# Dart/Flutter generated
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.fvm/

# Flutter platform generated
android/.gradle/
android/local.properties
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
macos/Flutter/ephemeral/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Logs and temp
*.log
coverage/
